<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th> 
             <th scope="col">Marks</th> 
              <th scope="col">Grade</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let std of students">
            <td>{{ std.id }}</td>
            <td>{{ std.name }}</td>
            <td>{{ std.marks }}</td>
            <td>{{ std.grade }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>