<h2> Leaves List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> EmpId</th>
            <th> Name </th>
            <th> Department </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let leave of leaves" >
            <td> {{ leave.empId }} </td>
            <td> {{ leave.ename }} </td>
            <td> {{ leave.edepartment }} </td>
            <td>
                <button (click) = "updateLeave(leave.empId)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>